.apod-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3.5% 3% 1% 3%;
}

.apod-container > h2{
    font-size: 35px;
    color: var(--white-color)
}

input[type="date"] {
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 8px;
    font-size: 0.9rem;
    margin: 2% 0%;

    &:focus {
        box-shadow: 0 0 5px #306db5;
        border-color: #306db5;
    }
}

.apod-img {
    border-radius: 15px;
    height: 450px;
    width: 600px;
    object-fit: fill;
}

.apod-container h3, span {
    color: var(--white-color);
    font-size: 0.9rem;
}

.window-pane {
    color: var(--white-color);
    font-size: 0.8rem;
}