footer {
    background-color: var(--black-color)
}

.standard-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard-dialog  > h2, a {
    color: var(--white-color);
}