.NotFound {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative; /* Coloca el contenedor como posición relativa */
  }
  
  .NotFound > img {
    position: absolute; /* Coloca la imagen como posición absoluta */
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1; /* Establece la imagen detrás del resto */
  }

.btn-notfound {
    position: absolute;
    top: 77.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid #FFB902;
    border-radius: 20px;
    color: #FFB902;
    cursor: pointer;
    font-size: 1,2rem;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #FFB902;
      color: white;
    }
  }
